$ff: "Open Sans", sans-serif;
$borderRadius: 8px;
$formContainerWidth: 546px;
$btnBg: rgb(83, 129, 248);

:root{
    --bodyBg: linear-gradient(119deg, #5281f8 0%, rgba(140, 0, 189, 0.56) 100%);
    --formBg: rgb(255, 255, 255);
    --btnBg: rgb(83, 129, 248);
    --linkText: rgb(83, 129, 248);
}